.msg_container{
    margin: 10px 0 10px 0 ;
    padding: 30px;
    overflow: auto;
    display: flex;
    background: whitesmoke;
}

.input_field{
    width: 100%;
}

.their_msg{
  margin: 10px 0 10px 0 ;
}
