<div class="container h-100">
    <div class="container h-75 msg_container" #msgbox >
        <div class="row flex-row flex-row-reverse"
             *ngFor="let msg of msg_list"
              [ngClass]="{'flex-row-reverse': msg.owner === 'me'}" >
          <ul class="list-group" >
            <li class="list-group-item their_msg" [ngClass]="{'their_msg': msg.owner === 'partner'}">{{msg.msg}}</li>
          </ul>
        </div>
    </div>

    <div class="container h-25">
        <div class="row flex-row">
           <div class="col-md-6">
               <mat-form-field class="input_field">
                   <input #newMsg
                          matInput
                          placeholder="Your message here"
                          (keyup.enter)="addMsg(newMsg.value)">
               </mat-form-field>
           </div>
            <div class="col-md-1">
                <button class="btn btn-default" (click)="addMsg(newMsg.value)">Send</button>
            </div>
            <div class="col-md-1">

                <button class="btn btn-default" (click)="leaveChat()">Exit</button>
            </div>

              <button class="btn btn-default" (click)="startVoiceCall(newMsg.value)">Voice Call</button>
            </div>
          <div class="col-md-1">
            <button class="btn btn-default" (click)="startVideoCall(newMsg.value)">Video Call</button>
          </div>

        </div>
    </div>
</div>






