<div class="container" *ngIf = "!waiting">
  <div class="row flex-row">
    <div class="col-md">
      <h3 class="text-center">Choose the picture you prefer</h3>
    </div>
  </div>
  <div class="row flex-row" *ngIf="quizList.length >= 1">
    <div class="col-md d-flex justify-content-center">
      <div class="answer" [@nextQuestion] = "animState">
        <img class="img-fluid"
             src="{{quizList[currQuest].left}}"
             (click)="imgClick('0')">
      </div>
    </div>
    <div class="col-md d-flex justify-content-center">
      <div class="answer" [@nextQuestion] = "animState">
        <img class="img-fluid"
             src="{{quizList[currQuest].right}}"
             (click)="imgClick('1')">
      </div>
    </div>
  </div>

  <div class="row flex-row" *ngIf="quizList.length < 1">
    <div class="col-md d-flex justify-content-center">
      <div class="skeleton">
        <p></p>
      </div>
    </div>
    <div class="col-md d-flex justify-content-center">
      <div class="skeleton">
        <p></p>
      </div>
    </div>
  </div>

</div>


<div class="container h-100" *ngIf="waiting">
  <div class="row align-items-center h-100">
    <div class="col col-sm justify-content-center loading">
      <h1>
        waiting for partner
      </h1>
      <h1>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </h1>
    </div>
  </div>
</div>


<style type="text/css">
  .answer{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .answer img{
    width: 100%;
    height: 100%;
  }
  .answer img:hover{
    transform: scale(0.95,0.95)
  }
  .answer img:active{
    transform: scale(0.90,0.90)
  }
</style>
