<div class="container">
  <div class="row flex-row">
    <div class="col-md">
      <h3 class="text-center">Choose the picture you prefer</h3>
    </div>
  </div>
  <div class="row flex-row" *ngIf="quizList.length > 2">
    <div class="col-md d-flex justify-content-center">
      <div class="answer">
        <img class="img-fluid" src="{{quizList[currQuest].left}}" (click)="imgClick('0') ">
      </div>
    </div>
    <div class="col-md d-flex justify-content-center">
      <div class="answer">
        <img class="img-fluid" src="{{quizList[currQuest].right}}" (click)="imgClick('1')">
      </div>
    </div>
  </div>

  <div class="row flex-row" *ngIf="quizList.length < 2">
    <div class="col-md d-flex justify-content-center">
      <div class="skeleton">
        <p></p>
      </div>
    </div>
    <div class="col-md d-flex justify-content-center">
      <div class="skeleton">
        <p></p>
      </div>
    </div>
  </div>

</div>


<style type="text/css">
  .answer{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .answer img{
    width: 100%;
    height: 100%;
  }
</style>
