<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="parent">
  <h1>Home</h1>
  <button mat-raised-button class="raised-button">×</button>
</div>

<div id="search">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Searching options
      </mat-expansion-panel-header>
      <div class="group">
        <p class="title">Gender</p>
        <mat-radio-group>
            <mat-radio-button class="radio-button" value="1">Male</mat-radio-button>
            <mat-radio-button class="radio-button" value="2">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="group">
        <p class="title">Age</p>
        <mat-slider thumbLabel min="10" max="90"></mat-slider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
