#first-line {
  background-color: #791E94;
}

#tableTop {
  margin: auto;
  width: 70%;
  table-layout: fixed;
}

.flbutton {
  height: 3.6em;
  background-color: #791E94;
  outline: none;
}

#colLeft {
  text-align: left;
}

#colMid {
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
}

#colRight {
  text-align: right;
}

body {
  background-color: #FFFFF2;
}

mat-progress-bar {
  width: 40%;
  margin: auto;
}

#search-button {
  text-align: center;
  padding: 3.5em 0;
}

mat-spinner {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -14.5px;
  z-index: 1;
}

.raised-button {
  width: 150px;
  height: 150px;
  font-size: 100px;
  border-radius: 50%;
  z-index: 2;
  outline: none;
  color: white;
}

mat-expansion-panel {
  background-color: #41D3BD;
  color: black;
}

#search {
  margin: auto;
  width: 35%;
}

#search-option {
  margin: auto;
  text-shadow: 0 1px gray;
  font-size: 20px;
}

#table-outside {
  width: 100%;
  background-color: white;
}

#tableSearch {
  width: 90%;
  margin: auto;
}

#tableSearch td {
  padding: 25px;
  border-bottom: 1px solid lavenderblush;
}

.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.radio-button {
  padding-right: 50px;
}

mat-slider {
  width: 100%;
}
