<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/" class="navbar-brand">Tale</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/quiz">Quizz</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/chat">Chat</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

