.dialog-content {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.dialog-content> * {
  width: 100%;
}

mat-form-field {
  padding: 0 0 20px 0;
}

.dialog-actions {
  text-align: center;
  padding-bottom: 10px;
}

.radio-button {
  padding-left: 30px;
}

#gender {
  float: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
